<html>
  <head>
    <title>StalkMyTeachers</title> 
    <link href="/static/Boostrap/boostrap/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="http://www.iconshock.com/img_jpg/IMPRESSIONS/jobs_icons/jpg/16/private_detective_icon.jpg">
  </head>
  <body>
    <h1> Hi there </h1>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/Boostrap/boostrap/css/bootstrap.min.js"></script>
    <h1>Hu</h1>
  </body><meta name="viewport" content="width=100, initial-scale=1.0">
</html>
