<html lang="en">
  <head>
    <title>StalkMyTeachers</title> 
    <link href="../static/Bootstrap/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/stalkmyteachers.jpg">
  </head>
  <body>
    <h1> Hi the </h1>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../static/Boostrap/boostrap/css/bootstrap.min.js"></script>
    <h1>Hu</h1>
  </body><meta name="viewport" content="width=100, initial-scale=1.0">
</html>
