<html>
  <head>
    <title>StalkMyTeachers</title> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../static/bootstrap/css/search.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/stalkmyteachers.jpg">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/sort.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  </head>
  
 <!--Navbar Code -->
    <body>
      <div id="opac">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
	<div class="navbar-header">
	  <a class="navbar-brand" href="/">StalkMyTeachers</a>
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	</div>
	<div class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
	    <li class="active"><a href="/">Home</a></li>
	    <li class="active"><a href="/about">About US</a></li>
	    <li class="active"><a href="/stuylist">Stuyvesant Teachers</a></li>
	    <li class="active"><a href="/all">Map of Where All Teachers Live</a></li>
	  </ul>
	</div>
      </div>
    </nav>
    
    <!--Search code -->
<!--    <div class="container" style="text-align:center">-->
<div class="col-md-1"></div>
<div class="col-md-10" style="text-align:center;">
      {{ search | safe }}
	<a href="/stuylist" class="btn btn-success btn-lg">View all the Stuyvesant Teachers Here!</a>
	<a href="/department" class="btn btn-warning btn-lg">Search by Department</a>
	<a href="all" class="btn btn-primary btn-lg">Map of Where All Teachers Live</a>

	<br /><br />
	{{table | safe}}
</div>
<div class="col-md-1"></div>
<!--    </div>-->
    
      



    </div>
  </body><meta name="viewport" content="width=100, initial-scale=1.0">
</html>
